pkgbase = lext-artwork-lubuntu
	pkgdesc = LXQt theme: Lubuntu Arc
	pkgver = 1
	pkgrel = 1
	url = https://github.com/lext-next/lext-lubuntu-artwork
	arch = any
	license = GPL
	depends = lxqt-session
	source = http://archive.ubuntu.com/ubuntu/pool/universe/l/lubuntu-artwork/lubuntu-artwork_25.10.2.tar.xz
	sha256sums = SKIP

pkgname = lext-artwork-lubuntu
